$shadow: 0px 16px 30px 0px #200;
$alive: #fbb;
$old: #e44;
$dead: #000;
$font-color: #ddd;
$bezel-background: rgb(150, 150, 150);
$bezel-dark: rgb(150, 150, 150);

.bottomMenu {
	display: block;
	justify-content: center;
	background: rgb(201, 77, 77);
	width: 680px;
	min-height: 90px;
	margin: 0px auto;
	border-radius: 15px;
	box-shadow: $shadow;
	button {
		margin-top: 6px;
		background: rgb(85, 85, 85);
		color: $font-color;
	}
	p {
		float: left;
		color: #ddd;
		font-family: courier;
		font-size: 20px;
		margin: 5px 8px 5px 28px;
		clear: both;
	}

	&_bottomButtonRow1 {
		
		display: inline-block;
		width: 140px;
		height: 27px;
		margin: 0 10px 8px 5px;
		font-size: 15px;
		border-radius: 5px;
	}
	&_bottomButtonRow2 {
		display: inline-block;
		width: 140px;
		height: 27px;
		margin: 5px 5px;
		font-size: 15px;
		border-radius: 5px;
	}
	
	&_activeButton {
		background: #faa;
		color: $bezel-dark;
	}
}


.notice {
	background: rgb(201, 77, 77);
	margin: 20px auto;
	padding: 20px;
	width: 600px;
	min-height: 40px;
	font-family: courier;
	font-size: 16px;
	text-align: center;
	color: $font-color;
	border-radius: 15px;
	box-shadow: $shadow;
}